#Configuration file for Grizzly bear mod
#Sun Sep 26 18:39:26 CEST 2021
spawn.max=4
debug=false
entity.speed=0.2
spawn.min=2
entity.health=30.0
entity.angertimemax=32
entity.follow=20.0
config.version=1
spawn.biomes=TAIGA
spawn.weight=50
entity.friendly=false
entity.angertimemin=20
entity.damage=6.0
